USE [master]
GO
/****** Object:  Database [GTDA]    Script Date: 14/4/2023 14:29:52 ******/
CREATE DATABASE [GTDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GTDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GTDA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GTDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GTDA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GTDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GTDA]
GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 14/4/2023 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[Id] [uniqueidentifier] NOT NULL,
	[IdTorneo] [uniqueidentifier] NULL,
	[IdParticipante] [uniqueidentifier] NULL,
	[HoraInscripcion] [time](7) NULL,
 CONSTRAINT [PkInscripcion_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partida]    Script Date: 14/4/2023 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[Id] [uniqueidentifier] NOT NULL,
	[JugadorBlancas] [uniqueidentifier] NULL,
	[JugadorNegras] [uniqueidentifier] NULL,
	[Fecha] [datetime] NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFinal] [time](7) NULL,
	[Resultado] [int] NULL,
	[Pgn] [nvarchar](max) NULL,
	[IdRonda] [int] NULL,
 CONSTRAINT [PkPartida_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolUsuario]    Script Date: 14/4/2023 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](75) NULL,
 CONSTRAINT [PkRolUsuario_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ronda]    Script Date: 14/4/2023 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ronda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NULL,
	[Descripcion] [varchar](150) NULL,
	[IdTorneo] [uniqueidentifier] NULL,
 CONSTRAINT [PkRonda_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTorneo]    Script Date: 14/4/2023 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTorneo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](75) NULL,
	[Descripcion] [varchar](150) NULL,
 CONSTRAINT [PkTipoTorneo_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneo]    Script Date: 14/4/2023 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneo](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](75) NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFinal] [datetime] NULL,
	[Descripcion] [varchar](150) NULL,
	[Localidad] [varchar](150) NULL,
	[IdTipoTorneo] [int] NULL,
	[CantidadParticipantes] [int] NULL,
 CONSTRAINT [PkTorneo_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/4/2023 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreUsuario] [varchar](75) NULL,
	[Clave] [varchar](75) NULL,
	[Nombres] [varchar](150) NULL,
	[Apellido] [varchar](150) NULL,
	[Email] [varchar](255) NULL,
	[Telefono] [varchar](15) NULL,
	[IdRolUsuario] [int] NULL,
	[Token] [varchar](128) NULL,
 CONSTRAINT [PkUsuario_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FkInscripcion_IdParticipante] FOREIGN KEY([IdParticipante])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FkInscripcion_IdParticipante]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FkInscripcion_IdTorneo] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[Torneo] ([Id])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FkInscripcion_IdTorneo]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FkPartida_IdRonda] FOREIGN KEY([IdRonda])
REFERENCES [dbo].[Ronda] ([Id])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FkPartida_IdRonda]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FkPartida_JugadorBlancas] FOREIGN KEY([JugadorBlancas])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FkPartida_JugadorBlancas]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FkPartida_JugadorNegras] FOREIGN KEY([JugadorNegras])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FkPartida_JugadorNegras]
GO
ALTER TABLE [dbo].[Ronda]  WITH CHECK ADD  CONSTRAINT [FkRonda_IdTorneo] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[Torneo] ([Id])
GO
ALTER TABLE [dbo].[Ronda] CHECK CONSTRAINT [FkRonda_IdTorneo]
GO
ALTER TABLE [dbo].[Torneo]  WITH CHECK ADD  CONSTRAINT [FkTorneo_IdTipoTorneo] FOREIGN KEY([IdTipoTorneo])
REFERENCES [dbo].[TipoTorneo] ([Id])
GO
ALTER TABLE [dbo].[Torneo] CHECK CONSTRAINT [FkTorneo_IdTipoTorneo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FkUsuario_RolUsuario] FOREIGN KEY([IdRolUsuario])
REFERENCES [dbo].[RolUsuario] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FkUsuario_RolUsuario]
GO
USE [master]
GO
