$light: #121821;
$white: #ffffff;
$dark: #000100;
$primary: #002b70;
$secondary: #cb0446;
$info: #46499c;
$success: #009756;
$warning: #dec800;
$danger: #ec1700;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
