<div class="container-fluid bg-warning" *ngIf="existe">
  <div class="row">
    <div class="col-12">
      Tu solicitud para ser organizador ha sido aprobada.
      <a class="link-light" [routerLink]="['/app/pagos']">Click aquí</a> para
      acceder
    </div>
  </div>
</div>
<nav class="navbar navbar-dark navbar-expand-lg bg-secondary shadow-sm">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active"
          >
            <i class="bi bi-house"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/app/torneo/listado']"
            routerLinkActive="active"
            >Torneos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/app/torneo/registrar']"
            routerLinkActive="active"
            >Nuevo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/app/organizadores']"
            routerLinkActive="active"
            >Organizadores</a
          >
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <div class="p-1">
        <a
          class="btn btn-outline-light rounded-circle"
          role="button"
          [routerLink]="['/user/dashboard']"
          ><i class="bi bi-person-circle"></i
        ></a>
      </div>
      <div class="p-1">
        <a
          class="btn btn-outline-light rounded-circle position-relative"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <i class="bi bi-bell-fill"></i>
          <span
            *ngIf="cantidadNotif != 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            {{ cantidadNotif }}
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Notificaciones</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div
      *ngIf="notificaciones.length == 0"
      class="alert alert-success d-flex align-items-center"
      role="alert"
    >
      <div class="col-10">No hay notificaciones nuevas</div>
    </div>
    <div
      *ngFor="let notificacion of notificaciones"
      class="alert alert-info d-flex align-items-center"
      role="alert"
    >
      <div class="col-10">
        {{ this.notificacion.mensaje }}
      </div>
      <div class="col-1">
        <button class="btn btn-outline-info rounded-circle">
          <i class="bi bi-check" (click)="marcarLeida(notificacion)"></i>
        </button>
      </div>
      <div class="col-1">
        <button class="btn btn-outline-primary rounded-circle">
          <i
            class="bi bi-caret-right-fill"
            (click)="irTorneo(notificacion)"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
