<div class="container-fluid bg-secondary py-3">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <button
          class="btn btn-primary btn-large rounded-circle"
          [routerLink]="['/inicio']"
        >
          <i class="bi bi-house"></i>
        </button>
      </div>
      <div class="col text-light">
        <h2>Preguntas frecuentes</h2>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-10">
      <h5>¿Cómo creo mi clave?</h5>
      <p>Para crear tu clave, debes seguir estos pasos:</p>
      <ol>
        <li>Ingresa al sitio web de Appjedrez.</li>
        <li>
          Haz clic en el botón "Registrarse" en la pantalla de Inicio de Sesión.
        </li>
        <li>
          En la sección "Registro", llena el formulario con tus datos y la clave
          que prefieras en el campo de contraseña.
        </li>
        <li>
          La clave debe tener al menos 8 caracteres, incluyendo un número y un
          caracter especial.
        </li>
        <li>Haz clic en "Registrarse"</li>
      </ol>
      <h5>
        ¿A qué dirección de mail me puedo contactar para hacer una sugerencia o
        reclamo?
      </h5>
      <p>
        Si tienes alguna sugerencia o reclamo sobre el funcionamiento de nuestro
        sitio web o de los torneos que se organizan, puedes enviarnos un correo
        electrónico a la siguiente dirección:
        <strong>112714@tecnicatura.frc.utn.edu.ar</strong>.
      </p>
      <p>
        Te responderemos lo antes posible y tomaremos en cuenta tu opinión para
        mejorar nuestro servicio. Gracias por tu interés y participación en
        nuestra comunidad de ajedrez online.
      </p>
      <h5>¿Cómo puedo pausar temporalmente mi suscripción?</h5>
      <p>
        Si quieres pausar temporalmente tu suscripción al sitio web, debes
        enviar un mensaje al email
        <strong>112714@tecnicatura.frc.utn.edu.ar</strong>
        indicando tu nombre de usuario, el motivo de la pausa y el periodo de
        tiempo que deseas estar inactivo. Te responderemos lo antes posible
        confirmando la pausa y las condiciones para reactivar tu suscripción
        cuando quieras volver a participar en los torneos.
      </p>
      <h5>¿Tienes alguna duda o quieres comunicarte con nosotros?</h5>
      <p>
        Si tienes alguna duda o quieres comunicarte con nosotros, puedes hacerlo
        de varias formas. Puedes enviarnos un correo electrónico a
        112714@tecnicatura.frc.utn.edu.ar, donde te responderemos lo antes
        posible. También puedes contactarnos en nuestra página de twitter
        "@usuarioTwitter", de lunes a viernes de 9 a 18 horas. O si lo
        prefieres, puedes rellenar el formulario de contacto que encontrarás en
        nuestra página web www.torneosdeajedrez.com. Estaremos encantados de
        atenderte y resolver tus consultas sobre nuestros servicios de gestión
        de torneos de ajedrez.
      </p>
      <h5>¿Cómo funciona Appjedrez?</h5>
      <p>
        Appjedrez es una aplicación web que te permite organizar y participar en
        torneos de ajedrez online de forma fácil y rápida. Si quieres organizar
        un torneo, debes solicitar el rol de organizador y crear tu propio
        evento con las características que prefieras: formato, ritmo, fecha,
        hora, etc. También puedes invitar a otros usuarios o dejar que se
        inscriban libremente.
      </p>
      <p>
        Si quieres participar en un torneo, solo tienes que buscar los eventos
        disponibles en la página principal y elegir el que más te guste. Una vez
        que te inscribas, recibirás una confirmación y podrás acceder al torneo
        cuando empiece. Appjedrez se encarga de mostrar los resultados y las
        clasificaciones, y comunicar las incidencias.
      </p>
      <h5>¿Qué necesito para ser organizador?</h5>
      <p>
        Para ser organizador de un torneo de ajedrez, necesitas tener algunos
        conocimientos básicos sobre el sistema de juego, las normas de la FIDE y
        los programas de gestión de torneos. El sistema de juego más común es el
        suizo, que consiste en emparejar a los jugadores según su puntuación y
        su coeficiente de desempate. Las normas de la FIDE regulan aspectos como
        el tiempo de reflexión, las anotaciones, las reclamaciones y las
        sanciones.
      </p>
      <p>
        Nuestro sitio web te ayuda a crear y administrar el torneo, introducir
        los resultados, generar las clasificaciones y enviar los informes.
        Algunos ejemplos de programas son Chess Tournament Management FIDE,
        Swiss Perfect, Sevilla, Chesspairing o Vega. También puedes organizar
        torneos online en plataformas como Chess.com, que te ofrecen
        herramientas para crear clubes, invitar a miembros, personalizar los
        torneos y participar en ligas o encuentros.
      </p>
      <h5>¿Qué datos recopilamos?</h5>
      <p>
        Recopilamos los siguientes datos de los usuarios que se registran en
        nuestro sitio web de gestión de torneos de ajedrez:
      </p>
      <ul>
        <li>Nombre y apellidos</li>
        <li>Dirección de correo electrónico</li>
        <li>Fecha de nacimiento</li>
        <li>Nivel de juego (elo)</li>
        <li>Foto de perfil</li>
        <li>Historial de partidas y resultados</li>
        <li>Historial de torneos y resultados</li>
        <li>Notificaciones</li>
      </ul>
      <p>
        Estos datos nos permiten ofrecer un servicio personalizado y adaptado a
        las necesidades de cada usuario, así como mejorar la calidad y seguridad
        de nuestro sitio web. No compartimos estos datos con terceros sin el
        consentimiento expreso del usuario. Para más información, consulte
        nuestra política de privacidad.
      </p>
      <h5>¿Qué medios de pago aceptan?</h5>
      <p>
        La app de gestión de torneos de ajedrez acepta varios medios de pago a
        través de MercadoPago, una plataforma segura y confiable que te permite
        pagar con tarjeta de crédito, débito, efectivo o transferencia bancaria.
      </p>
      <p>
        Para utilizar MercadoPago, debes crear una cuenta gratuita en su sitio
        web o en su app móvil y vincular tu método de pago preferido. Luego,
        podrás elegir el plan que más te convenga para organizar tus torneos de
        ajedrez y pagar de forma rápida y sencilla.
      </p>
    </div>
  </div>
</div>
