<body class="bg-dark" style="min-height: 100vh">
  <div class="container my-2">
    <div class="row">
      <div class="col-md-4 my-1 d-flex align-items-stretch">
        <div class="card w-100">
          <img
            src="../../../assets/img/ilustraciones/searching.png"
            alt="torneos"
            class="card-img-top"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Encontrar torneos</h5>
            <p class="card-text">
              Utilizar el buscador para encontrar torneos o ver la lista de
              torneos disponibles.
            </p>
            <a
              class="btn btn-primary rounded-circle position-absolute bottom-0 end-0"
              [routerLink]="['/app/torneo/listado']"
              ><i class="bi bi-caret-right-fill"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-1 d-flex align-items-stretch">
        <div class="card w-100">
          <img
            src="../../../assets/img/ilustraciones/info.png"
            alt="torneos"
            class="card-img-top"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Torneos en los que participaste</h5>
            <p class="card-text">
              Ver el historial de torneos en los que participaste, datos e
              informes relacionados a los mismos.
            </p>

            <a
              class="btn btn-primary rounded-circle position-absolute bottom-0 end-0"
              [routerLink]="['/app/torneo/listado']"
              ><i class="bi bi-caret-right-fill"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-1 d-flex align-items-stretch">
        <div class="card w-100">
          <img
            src="../../../assets/img/ilustraciones/perfil.png"
            alt="torneos"
            class="card-img-top"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Ver tu perfil</h5>
            <p class="card-text">
              Ver tu perfil de usuario y acceder a tu información.
            </p>

            <a
              class="btn btn-primary rounded-circle position-absolute bottom-0 end-0"
              [routerLink]="['/app/torneo/listado']"
              ><i class="bi bi-caret-right-fill"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 my-1 d-flex align-items-stretch">
        <div class="card w-100">
          <img
            src="../../../assets/img/ilustraciones/lista.png"
            alt="torneos"
            class="card-img-top"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Partidas jugadas</h5>
            <p class="card-text">
              Ver el historial de partidas que jugaste, datos e informes
              relacionados a las mismas.
            </p>

            <a
              class="btn btn-primary rounded-circle position-absolute bottom-0 end-0"
              [routerLink]="['/app/torneo/listado']"
              ><i class="bi bi-caret-right-fill"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-1 d-flex align-items-stretch">
        <div class="card w-100">
          <img
            src="../../../assets/img/ilustraciones/pagar.png"
            alt="torneos"
            class="card-img-top"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Inscribirse como organizador</h5>
            <p class="card-text">
              Inscribite, espera la confirmación y convertite en organizador. La
              inscripción se paga a través de Mercado Pago.
            </p>

            <a
              class="btn btn-primary rounded-circle position-absolute bottom-0 end-0"
              [routerLink]="['/app/torneo/listado']"
              ><i class="bi bi-caret-right-fill"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-1 d-flex align-items-stretch">
        <div class="card w-100">
          <img
            src="../../../assets/img/ilustraciones/setup.png"
            alt="torneos"
            class="card-img-top"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Configurar tu información</h5>
            <p class="card-text">Configurá tu información y perfil.</p>

            <a
              class="btn btn-primary rounded-circle position-absolute bottom-0 end-0"
              [routerLink]="['/app/torneo/listado']"
              ><i class="bi bi-caret-right-fill"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
