<body class="bg-dark" style="min-height: 100vh">
  <div class="container-fluid" style="height: 100%">
    <img
      class="img-fluid"
      src="https://images2.alphacoders.com/717/71792.jpg"
      alt="portada"
    />
    <div class="overlay"></div>
    <div
      id="portada"
      class="row d-flex justify-content-center align-items-center"
      style="height: 100vh"
    >
      <div class="text-white col-4 text-center">
        <h1>Torneos de ajedrez</h1>
        <h3 class="lead">
          Unite a torneos, organizá tu propio torneo y visualizá partidas
        </h3>
        <button class="btn btn-primary btn-lg" (click)="entrar()">
          ENTRAR
        </button>
      </div>
    </div>
  </div>
</body>
