<header>
  <div
    class="container"
    style="
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 300px;
    "
    [ngStyle]="{ 'background-image': 'url(' + imgUrl + ')' }"
  ></div>
</header>
<div class="container bg-light">
  <div class="row">
    <div
      class="offset-md-9 col-md-3 text-center d-flex flex-row justify-content-end"
    >
      <button class="btn btn-danger text-white m-1" (click)="openBorrar()">
        <i class="bi bi-trash"></i> Borrar
      </button>
      <button class="btn btn-secondary text-white m-1" (click)="editar()">
        <i class="bi bi-pencil"></i> Editar
      </button>
    </div>
  </div>
  <div class="row border-bottom pb-1">
    <div class="col-sm-2 offset-sm-10 d-flex flex-row justify-content-end">
      <button class="btn btn-primary" (click)="inscribirse()">
        Inscribirse
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2">
      <h1 class="display-3 col-12">
        {{ torneo.nombre }}
      </h1>
      <div class="col-12 rounded bg-white p-2 text-dark bg-gradient">
        <p class="lead">{{ torneo.descripcion }}</p>
        <hr />
        <div class="row m-2">
          <span>Detalles:</span>
          <div class="col-md-6 p-2">
            <ul class="list-group">
              <li class="list-group-item">
                Empieza: {{ torneo.fechaInicio | date : "short" }}
              </li>
              <li class="list-group-item">
                Termina: {{ torneo.fechaFinal | date : "short" }}
              </li>
              <li class="list-group-item">
                Se juega en: {{ torneo.localidad }}
              </li>
              <li class="list-group-item">Organizador:</li>
            </ul>
          </div>
          <div class="col-md-6 p-2">
            <ul class="list-group">
              <li class="list-group-item">
                Tipo de torneo: {{ torneo.idTipoTorneo }}
              </li>
              <li class="list-group-item">
                Cantidad máxima de participantes:
                {{ torneo.cantidadParticipantes }}
              </li>
              <li class="list-group-item">Elo minimo:</li>
              <li class="list-group-item">Elo Máximo:</li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="table-responsive">
        <h3>Participantes</h3>
        <table class="table text-dark">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let inscripcion of inscripciones">
              <td>{{ inscripcion.participante.nombres }}</td>
              <td>{{ inscripcion.participante.apellido }}</td>
              <td>
                <a class="btn btn-sm btn-primary rounded-pill">
                  <i class="bi bi-caret-right-fill p-1 text-white"></i>
                </a>
              </td>
              <td>
                <a
                  class="btn btn-sm btn-danger rounded-pill"
                  (click)="eliminar(inscripcion.id)"
                >
                  <i class="bi bi-trash-fill p-1 text-white"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
