<router-outlet></router-outlet>
<footer class="container-fluid bg-dark py-1 border-top border-light">
  <div class="row justify-content-center mt-2">
    <div class="col-md-3 text-center">
      <a class="link-light" [routerLink]="['/terminos-condiciones']"
        >Términos y condiciones</a
      >
    </div>
    <div class="col-md-3 text-center">
      <a class="link-light" [routerLink]="['/faq']">Preguntas frecuentes</a>
    </div>
  </div>
  <div class="row text-light m-2">
    <div class="col-md-4 offset-4 text-center">APPJEDREZ - 2023</div>
  </div>
</footer>
