<body class="bg-dark" style="min-height: 100vh">
  <div class="container-fluid bg-secondary p-5">
    <div class="container px-5">
      <div class="row text-white justify-content-center">
        <div class="col-12 text-center">
          <h5 class="display-6">Partida:</h5>
          <h3>
            <span class="badge text-bg-light">{{
              partida.jugadorBlancasNavigation?.nombreUsuario
            }}</span>
            VS.
            <span class="badge text-bg-dark">{{
              partida.jugadorNegrasNavigation?.nombreUsuario
            }}</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-secondary p-2 border-top border-dark">
    <div class="container px-5">
      <div class="row">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="btn btn-secondary"
              [routerLink]="['/app/game/', idPartida, 'detalles']"
              routerLinkActive="active"
              >Detalles</a
            >
          </li>
          <li class="nav-item">
            <a
              class="btn btn-secondary"
              [routerLink]="['/app/game/', idPartida, 'ver']"
              routerLinkActive="active"
              >Ver</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
