<body class="bg-dark" style="min-height: 100vh">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 mt-5">
        <div class="row bg-white rounded">
          <div class="col-12 p-3">
            <h3 class="display-6 text-dark">Iniciar Sesión</h3>
          </div>
          <div class="col-12 p-3">
            <form class="container" [formGroup]="loginForm">
              <div class="row pt-3">
                <div class="col-12 input-group">
                  <span class="input-group-text">
                    <i class="bi bi-person-fill text-primary"></i>
                  </span>
                  <input
                    class="form-control text-dark"
                    type="text"
                    placeholder="Usuario"
                    formControlName="nombreUsuario"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  loginForm.controls['nombreUsuario'].dirty &&
                  loginForm.hasError('required', 'nombreUsuario')
                "
                class="text-danger"
              >
                *Usuario requerido
              </small>
              <div class="row pt-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-lock-fill text-primary"></i>
                  </span>
                  <input
                    class="form-control text-dark"
                    [type]="type"
                    formControlName="clave"
                    placeholder="Contraseña"
                  />
                  <span class="input-group-text bg-white">
                    <i
                      (click)="ocultarMostrarPass()"
                      class="bi {{ eyeIcon }} text-primary ojo"
                    ></i>
                  </span>
                </div>
              </div>
              <small
                *ngIf="
                  loginForm.controls['clave'].dirty &&
                  loginForm.hasError('required', 'clave')
                "
                class="text-danger"
              >
                *Contraseña requerida
              </small>
              <div class="form-inline fr mt-4">
                <a
                  id="forget"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  class="font-weight-bold"
                >
                  ¿Olvidó su contraseña?
                </a>
              </div>
              <button
                (click)="onLogin()"
                type="submit"
                class="btn btn-primary mt-4 w-100"
              >
                Iniciar sesión
              </button>
              <div class="text-center pt-4 text-muted">
                ¿No tiene cuenta?
                <a id="forget" routerLink="/user/signup" class="link-primary">
                  Registrese.
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">
          <span style="font-size: 25px; font-weight: 700"
            >¿Olvidaste tu contraseña?</span
          >
          <br />
          <small
            >Por favor, ingrese su E-mail y le enviaremos un link de
            reseteo</small
          >
        </p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group pt-3">
          <div class="input-field">
            <i class="bi bi-user p-2"></i>
            <input
              [(ngModel)]="resetPasswordEmail"
              (ngModelChange)="checkValidEmail($event)"
              type="text"
              placeholder="Email"
            />
          </div>
          <small *ngIf="!resetPasswordEmail" class="text-danger"
            >*Email es requerido</small
          >
          <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger"
            >*Email es inválido</small
          >
        </div>
      </div>
      <div class="modal-footer">
        <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerar
        </button>
        <button type="button" (click)="confirmToSend()" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
